/* home-button.component.css */
a {
  text-decoration: none;
  color: chartreuse;
  transition: all 300ms;
}
.button-container
{
  width: 30%;
  height: 6vh;
  border: 2px chartreuse solid;
  margin-top: 4vh;
  transition: all 300ms;
  border-radius: 20px;
}
p{
  text-align: center;
  font-size: 3vh;
}
a:hover{

  color: #707070;
}
.button-container:hover
{
 background-color: chartreuse;
  border: #707070 2px solid;

}
