
<div class="loginContainer" autocomplete="off">
  <form class="form" autocomplete="off">
  <span class="input-span">
    <label for="login" class="label">login</label>
    <input type="text" name="login" id="login" placeholder="Nazwa" title="Login" [(ngModel)]="username"
    />
  </span>
    <span class="input-span">
      <label for="password" class="label">Password</label>
      <input type="password" name="password" id="password" placeholder="Hasło" title="Password" [(ngModel)]="password"
    />
    </span>
    <span class="input-span">
      <label for="mail" class="label">Email</label>
      <input type="email" name="mail" id="mail" placeholder="mail" title="Email" [(ngModel)]="email"
      />
    </span>
    <input class="submit" type="submit" value="Log in" (click)="Register($event)"/>
    <span class="span">Don't have an account? <a href="#" (click)="goToLogin($event)">Sign up</a></span>
  </form>
</div>

