<p>account works!</p>
<button type="button" (click)="test($event)" class="btn btn-secondary" title="Przycisk">
  test
</button>
<div class="ContainerAccount">
  <div class="containerAccountSubdivide">
    <h2>Name:</h2> <h2>{{ userData.name }}</h2>
  </div>
  <div class="containerAccountSubdivide">
    <h3>Email:</h3> <h3>{{ userData.email }}</h3>
  </div>
  <div class="containerAccountSubdivide">
    <h3>Score:</h3> <h3>{{ userData.score }}</h3>
  </div>
  <div class="containerAccountSubdivide">
  <button type="button" (click)="removeAcc($event)" class="btn btn-danger" title="Przycisk">
    remove account
  </button>
    <button type="button" (click)="removeAcc($event)" class="btn btn-danger" title="Przycisk">
     kiedy.s coś moze
    </button>
  </div>

</div>



