.ContainerAccount {
  width: 30%;
  margin-left: 35%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  justify-content: center;
}
button{
  max-width: 50%;
  background-color: green;
  border: chartreuse;
}button:hover{
  background-color: chartreuse;
  color: black;
 }
h2{
  justify-content: center;
}

.containerAccountSubdivide {
  display: flex;
  justify-content: space-between;
}
